#addButton {
  display: flex;
  padding-right: 70px;
  padding-top: 50px;
  justify-content: flex-end;
}

.content {
  width: 50%;
  margin-left: 2%;
}
.event-content {
  flex-wrap: wrap;
  margin-top: 20px;

  .avatar-mini {
    background-size: cover;
    margin-top: -2%;
  }

  .avatar-mini:hover {
    cursor: pointer;
  }

  .event-card {
    margin: 20px 20px 0 0;
  }
}

.e-title {
  font-size: 16px;
  font-weight: bold;
}

#user-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.additional-event-info {
  display: flex;
  align-items: center;
}

.badge {
  cursor: pointer;
  color: blue;
}

.badge:hover {
  text-decoration: underline;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}
