.container {
  .main-content {
    height: 100%;

    .menuActive {
      color: blue;
    }

    button {
      width: 100%;
      text-align: left;
      font-size: 16px;
    }

    mat-drawer {
      width: 15%;
      overflow: hidden;
    }

    mat-drawer-container {
      height: 100%;
    }
  }
}
