.profile-content {
  padding: 2%;
  display: flex;
  .content {
    .avatar {
      width: 400px;
      cursor: pointer;
    }

    mat-card-actions {
      display: flex;
      justify-content: flex-end;
    }
  }

  .right-side {
    width: 50%;
    margin-left: 2%;
  }

  .name-content {
    display: flex;
    align-items: center;

    mat-card-subtitle {
      margin-left: 10px;
    }
  }
}

:host ::ng-deep #e-content {
  width: 100%;
}
