.profile-content {
  padding: 2%;
  display: flex;
  justify-content: space-between;
  .content {
    .avatar {
      width: 400px;
      cursor: pointer;
    }

    mat-card-actions {
      display: flex;
      justify-content: flex-end;
    }
  }

  .personal-info {
    width: 70%;
  }

  .name-content {
    display: flex;
    align-items: center;

    mat-card-subtitle {
      margin-left: 10px;
    }
  }
}
