<!--<mat-spinner *ngIf="!user" [diameter]="230"></mat-spinner>-->
<div class="profile-content" *ngIf="user">
  <div class="content">
    <mat-card>
      <img mat-card-image src="{{user.avatar}}" class="avatar">
      <mat-card-actions>
        <button mat-button (click)="openDialog()">Change photo</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="content right-side">
    <mat-card>
      <div class="name-content">
        <mat-card-title> {{user.firstName}} {{user.lastName}}</mat-card-title>
        <mat-card-subtitle>({{user.isOnline? "online": "offline"}})</mat-card-subtitle>
      </div>
      <mat-card-content>
        <p *ngIf="user.birthday">Date of birth: {{user.birthday | date}}</p>
        <p *ngIf="user.gender">Gender: {{user.gender}}</p>
        <p *ngIf="user.address">Address: {{user.address.city}}, {{user.address.street}} {{user.address.houseNumber}}</p>
      </mat-card-content>
    </mat-card>
    <div class="users-events">
      <h1>User's events</h1>
      <app-event></app-event>
    </div>
  </div>

</div>
